/*
Name: Mia Ehrlich
Coding 06
Purpose: This is the main.css file for index and contact and gallery pages for a mobile first responsive site
 */

/*
 * your standard (i.e. mobile) css here
 */

html, body {
    background-color: #fcf4d9;
    font-family: sans-serif;
}

body {
    position: relative;
    padding-bottom: 2em;
    padding-top: 6em;
}

/* Header Logo and Nav Styles*/
.navbar {
    background-color: #00aaa0;
    border-bottom: 3px solid #ffb85f;
}

.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:active {
    background-color: #ff7a5a;
}

nav li{
    color: #fcf4d9;
    background-color: #ff7a5a;
    border-top: 2px solid #ffb85f;
    font-variant: small-caps;
}

nav li a:hover, nav li a:active {
    background-color: #fcf4d9 !important;
    color: #ff7a5a !important;
    font-weight: bold;
    padding: 0.55em;
}

/* Article Styles for index.html*/

.article__heading {
    background-color: #ffb85f;
    font-family: Chalkboard, sans-serif;
    font-size: 2em;
    color: #462066;
    text-shadow: 4px 3px 4px #fcf4d9,
    6px 5px 2px #8ed2c9,
    10px 9px 2px #00aaa0;
}

.article__text {
    letter-spacing: 1px;
    color: #462066;
}

.article__text--first-word {
    font-family: Chalkboard, sans-serif;
    font-size: 1.1em;
    color: #ffb85f;
}

.article__text::first-letter {
    font-size: 2em;
    color: #ff7a5a;
}

/*Form Styles for contact.html*/

.msg__container {
    font-size: 1.1em;
    font-variant: small-caps;
    color: #fcf4d9;
    background-color: #00aaa0;
    border: 3px solid #ffb85f;
}

button {
    background-color: #ff7a5a;
    color: #fcf4d9;
    border: 2px solid #ffb85f;
    font-variant: small-caps;
}

button:hover:not(:first-of-type), button:active:not(:first-of-type) {
    background-color: #fcf4d9;
    color: #ff7a5a;
    padding: 0.7em;
}


/*Footer Styles*/
footer{
    background-color: #ff7a5a;
    color: #fcf4d9;
    font-size: 0.9em;
    font-variant: small-caps;
}

/* Desktop Styles*/
@media (min-width: 480px) {
     /*Article Styles for index.html*/
    .article__img {
        width: 40%;
        max-width: 250px;
    }
}

@media (min-width: 600px) {
    /* Form styles for contact.html */
    .msg__container {
        width: 60%;
    }
    form {
        width: 60%;
    }
}

@media (min-width: 768px) {
    /*Nav list item styles after nav-expand-md breakpoint*/
    nav li {
        border-bottom: 2px solid #ffb85f;
        border-left: 2px solid #ffb85f;
    }
}