<!--
Name: Mia Ehrlich
Coding 06
Purpose: This is the body template for the contact page of a mobile first responsive site using bootstrap and jquery
-->

<main>
    <h1 class="article__heading text-uppercase mt-4 mb-4 px-3 py-2">Contact Us</h1>
    <div class="msg__container text-center mt-0 mb-4 mx-auto pt-3 pb-3 rounded-pill"  id="user-msg">
        <p class="px-1">Fill out your information and we'll be in touch shortly.</p>
    </div>
    <form class="mx-auto my-0" id="contactForm" name="contactForm" method="post" action="email.php">
        <div class="form-group">
            <input class="form-control" type="text" id="name" name="name" placeholder="Name" maxlength="64">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" id="email1" name="remail1" placeholder="Return Email" maxlength="64">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" id="email2" name="remail2" placeholder="Re-enter Email" maxlength="64">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" id="subject" name="subject" placeholder="Subject" maxlength="64">
        </div>
        <div class="form-group">
            <textarea class="form-control" id="message" name="message" placeholder="Message" rows="10" maxlength="1000"></textarea>
        </div>
        <div class="form__button-container text-center mb-5">
            <button class="small rounded mr-2 px-3 py-1" type="button" id="btn__send">Send</button>
            <button class="small rounded px-3 py-1" type="button" id="btn__clear">Clear</button>
        </div>
    </form>
</main>