<!--
Name: Mia Ehrlich
Coding 06
Purpose: This is the footer template for a mobile first responsive site using bootstrap and jquery
-->

    <footer class="fixed-bottom text-center">
        <span class="d-block">&hearts; Adopt-A-Pet &hearts; Austin,TX &hearts;</span>
        <span class="d-block">&hearts;<time datetime="2020-02-06">February, 2020</time> &hearts;</span>
    </footer>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    </body>
</html>
