<!--
Name: Mia Ehrlich
Coding 06
Purpose: This is the body template for the homepage of a mobile first responsive site using bootstrap and jquery
-->


<main>
    <h1 class="article__heading text-uppercase mt-4 px-3 py-2">About Us</h1>
    <div class="container-fluid mt-4 pb-5">
        <img class="article__img img-fluid float-left mr-3 mw-" src="images/dogs.png">
        <p class="article__text">
            <span class="article__text--first-word">Lorem</span> ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Libero nunc consequat interdum varius
            sit amet mattis vulputate. Nisi vitae suscipit tellus mauris a diam maecenas sed enim.
        </p>
        <p class="article__text">
            <span class="article__text--first-word">Ut</span> lectus arcu bibendum at varius vel. Amet consectetur
            adipiscing elit ut aliquam purus. Et malesuada fames ac turpis egestas sed tempus. Ultricies mi quis
            hendrerit dolor magna. A diam maecenas sed enim ut sem viverra aliquet eget.
        </p>
        <p class="article__text">
            <span class="article__text--first-word">Enim</span> sed faucibus turpis in
            eu mi. Quis lectus nulla at volutpat diam. Facilisis mauris sit amet massa vitae tortor. Quam
            pellentesque nec nam aliquam sem et tortor consequat id. Id consectetur purus ut faucibus pulvinar
            elementum integer. Vel fringilla est ullamcorper eget nulla facilisi etiam. Ut etiam sit amet nisl purus
            in.
        </p>
    </div>
</main>
